.header-container {
  /* display: flex;
  flex-direction: column; */
  max-width: 1920px;
  position: relative;
  height: 1080px;
  overflow: hidden; /* Ensure no overflow issues */
  top: 0%;
  bottom: 0%;
  box-sizing: border-box;
  font-family: "Jost" !important;
  /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
}
.contextAndHeaderImage_div {
  display: flex; /* Flexbox container */
  flex-direction: column; /* Default: stack items vertically */
}
.context-container {
  padding-top: 140px;
  padding-left: 110px;
  /* width: 55%; */
}
.checkboxBtn-div {
  margin-right: 0px;
  position: relative;
  right: 0%;
  width: 830px;
}
.headerImg-div {
}
.radioBtn {
  padding: 24px 10px;
  font-size: 20px;
}
.header-image {
  /* position: relative; */
  position: absolute;
  /* z-index: -1; */
  width: 1511px;
  height: 994px;
  /* transition: transform 0.3s ease-in-out; */
  /* right: 14%; */
  top: 0%;
  bottom: 0%;
  left: 25%;
  margin-bottom: 6%;
}
.responsive-heading {
  /* Adjust to control character wrapping */
  line-height: 1.1; /* Tighter line spacing */
  width: 790px;
  text-align: start;
  font-size: 74px;
  font-weight: 550;
}
.header-text {
  margin-top: 32px;
  margin-bottom: 53px;
  font-size: 38px;
  line-height: 2.1rem;
}
.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space evenly */
  padding: 0 290px; /* Add left and right spacing */
  gap: 1rem; /* Add spacing between logos */
  position: absolute;
  bottom: 7%;
  left: 0;
  right: 0;
}

.logo-item {
  height: 35px;
}

.logo-item:hover {
  transform: scale(1.1); /* Slight zoom on hover */
  cursor: pointer;
}
/* responsive for(large screen) minimum the  1440px screen */
@media only screen and (max-width: 1680px) {
  .header-container {
    position: relative;
    overflow: hidden; /* Ensure no overflow issues */
    top: 0%;
    bottom: 0%;
    height: 860px;
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .context-container {
    padding-top: 80px;
    padding-left: 52px;
    /* width: 55%; */
    z-index: 1;
  }
  .contextAndHeaderImage_div {
    display: flex; /* Flexbox container */
    flex-direction: column; /* Default: stack items vertically */
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    right: 0%;
    width: 50%;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 22px 0px;
    font-size: 20px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 1007px;
    height: 778px;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 0%;
    bottom: 0%;
    left: 43%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    width: 790px;
    text-align: start;
    font-size: 62px;
    font-weight: 550;
  }
  .header-text {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 2.1rem;
    width: 520px;
  }
  .logos-container {
    padding: 0 140px; /* Add left and right spacing */
    gap: 1rem; /* Add spacing between logos */
    position: absolute;
    bottom: 8%;
    left: 0;
    right: 0;
  }

  .logo-item {
    height: 35px;
  }
}
/* responsive for(large screen) minimum the  1440px screen */
@media only screen and (max-width: 1440px) {
  .header-container {
    position: relative;
    overflow: hidden; /* Ensure no overflow issues */
    top: 0%;
    bottom: 0%;
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .context-container {
    padding-top: 80px;
    padding-left: 52px;
    /* width: 55%; */
    z-index: 1;
  }
  .contextAndHeaderImage_div {
    display: flex; /* Flexbox container */
    flex-direction: column; /* Default: stack items vertically */
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    right: 0%;
    width: 45%;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 18px 0px;
    font-size: 18px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 950px;
    height: 780px;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 0%;
    bottom: 0%;
    left: 39%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    width: 625px;
    text-align: start;
    font-size: 57px;
    font-weight: 550;
  }
  .header-text {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 2.1rem;
    width: 520px;
  }
  .logos-container {
    padding: 0 100px; /* Add left and right spacing */
    gap: 1rem; /* Add spacing between logos */
    position: absolute;
    bottom: 7%;
    left: 0;
    right: 0;
  }

  .logo-item {
    height: 35px;
  }
}
/* Responsive for (desktop) minimum the 1280px device */
@media (max-width: 1280px) {
  .header-container {
    position: relative;
    height: 1000px;
    overflow: hidden; /* Ensure no overflow issues */
    top: 0%;
    bottom: 0%;
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .contextAndHeaderImage_div {
    display: flex; /* Flexbox container */
    flex-direction: column; /* Default: stack items vertically */
  }
  .context-container {
    padding-top: 83px;
    padding-left: 56px;
    width: 680px;
    z-index: 1;
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    right: 0%;
    width: 85%;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 18px 0px;
    font-size: 20px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 83%;
    height: 80%;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 0%;
    bottom: 0%;
    left: 25%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    /* Adjust to control character wrapping */
    line-height: 1.1; /* Tighter line spacing */
    width: 588px;
    text-align: start;
    font-size: 46px;
    font-weight: 550;
  }
  .header-text {
    margin-top: 33px;
    margin-bottom: 82px;
    font-size: 36px;
    line-height: 2.1rem;
  }
  .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 108px; /* Add left and right spacing */
    gap: 1rem; /* Add spacing between logos */
    position: absolute;
    bottom: 20%;
    left: 0;
    right: 0;
  }

  .logo-item {
    height: 35px;
  }
}
/* Responsive for (tabler/desktop)minumum device the 960px device */
@media (max-width: 960px) {
  .header-container {
    position: relative;
    height: 1000px;
    overflow: hidden; /* Ensure no overflow issues */
    top: 0%;
    bottom: 0%;
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .context-container {
    padding-top: 33px;
    padding-left: 30px;
    width: 515px;
    z-index: 1;
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    right: 0%;
    width: 85%;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 22px 0px;
    font-size: 20px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 83%;
    height: 80%;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 0%;
    bottom: 0%;
    left: 25%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    /* Adjust to control character wrapping */
    line-height: 1.1; /* Tighter line spacing */
    width: 520px;
    text-align: start;
    font-size: 42px;
    /* font-weight: 600; */
  }
  .header-text {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 38px;
    line-height: 2.1rem;
  }
  .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 40px; /* Add left and right spacing */
    gap: 1rem; /* Add spacing between logos */
    position: absolute;
    bottom: 22%;
    left: 0;
    right: 0;
  }

  .logo-item {
    height: 35px;
  }
}
/* Responsive Design For Tablet 768px device */
@media (max-width: 768px) {
  .header-container {
    position: relative;
    height: 880px;
    overflow: hidden; /* Ensure no overflow issues */
    top: 0%;
    bottom: 0%;
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .contextAndHeaderImage_div {
    /* flex-direction: row;  */
    /* Default: stack items vertically */
  }
  .context-container {
    padding-top: 60px;
    padding-left: 16px;
    width: auto;
    z-index: 1;
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    margin-right: 13px;
    flex-direction: column;
    bottom: 23%;
    width: auto;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 17px 0px;
    font-size: 20px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 680px;
    height: 425px;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 28%;
    bottom: 0%;
    left: 13%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    /* Adjust to control character wrapping */
    line-height: 1.1; /* Tighter line spacing */
    width: 378px;
    text-align: start;
    font-size: 40px;
    font-weight: 550;
  }
  .header-text {
    margin-top: 24px;
    margin-bottom: 208px;
    font-size: 38px;
    line-height: 2.1rem;
  }
  .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 16px; /* Add left and right spacing */
    gap: 0.3rem; /* Add spacing between logos */
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
  }

  .logo-item {
    height: 27px;
  }

  #WHLogo {
    width: 105px;
    height: 22px;
  }
  #Forbes {
    width: 82px;
    height: 21px;
  }
  #MAYCLINIC {
    width: 58px;
    height: 41px;
  }
  #WallStreatJ {
    width: 245px;
    height: 22px;
  }

  #Vogue {
    width: 90px;
    height: 21px;
  }
}
@media (max-width: 568px) {
  .header-container {
    position: relative;
    max-width: 568px;
    height: 844px;
    top: 0%;
    bottom: 0%;

    overflow: hidden; /* Ensure no overflow issues */
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .contextAndHeaderImage_div {
    /* flex-direction: row;  */
    /* Default: stack items vertically */
  }
  .context-container {
    /* margin: 60px 16px 0px 16px; */
    width: auto;
    z-index: 1;
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    /* margin-right: 23px; */
    flex-direction: column;
    bottom: 23%;
    width: 97%;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 14px 0px;
    font-size: 17px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 570px;
    height: 380px;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 26%;
    bottom: 0%;
    left: 1%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    /* Adjust to control character wrapping */
    line-height: 1.1; /* Tighter line spacing */
    width: 400px;
    text-align: start;
    font-size: 40px;
    font-weight: 500;
    /* height: 192px; */
  }
  .header-text {
    margin-top: 24px;
    margin-bottom: 192px;
    font-size: 22px;
    line-height: 2.1rem;
  }
  .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 16px; /* Add left and right spacing */
    gap: 0rem; /* Add spacing between logos */
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 545px;
  }

  .logo-item {
    height: 27px;
  }
  #WHLogo {
    width: 97px;
    height: 20px;
  }
  #Forbes {
    width: 73px;
    height: 18px;
  }
  #MAYCLINIC {
    width: 36px;
    height: 40px;
  }
  #WallStreatJ {
    width: 176px;
    height: 15px;
  }

  #Vogue {
    width: 55px;
    height: 14px;
  }
}
@media (max-width: 425px) {
  .header-container {
    position: relative;
    max-width: 568px;
    height: 844px;
    top: 0%;
    bottom: 0%;

    overflow: hidden; /* Ensure no overflow issues */
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .contextAndHeaderImage_div {
    /* flex-direction: row;  */
    /* Default: stack items vertically */
  }
  .context-container {
    /* margin: 60px 16px 0px 16px; */
    width: auto;
    z-index: 1;
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    /* margin-right: 23px; */
    flex-direction: column;
    bottom: 23%;
    width: 97%;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 14px 0px;
    font-size: 17px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 570px;
    height: 380px;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 26%;
    bottom: 0%;
    left: 1%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    /* Adjust to control character wrapping */
    line-height: 1.1; /* Tighter line spacing */
    width: 400px;
    text-align: start;
    font-size: 40px;
    font-weight: 500;
    /* height: 192px; */
  }
  .header-text {
    margin-top: 24px;
    margin-bottom: 192px;
    font-size: 22px;
    line-height: 2.1rem;
  }
  .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 16px; /* Add left and right spacing */
    gap: 0rem; /* Add spacing between logos */
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    width: 407px;
  }

  .logo-item {
    height: 27px;
  }
  #WHLogo {
    width: 97px;
    height: 20px;
  }
  #Forbes {
    width: 73px;
    height: 18px;
  }
  #MAYCLINIC {
    width: 36px;
    height: 40px;
  }
  #WallStreatJ {
    width: 176px;
    height: 15px;
  }

  #Vogue {
    width: 55px;
    height: 14px;
  }
}
/* Responsive Design For mobile View 390px device  */
@media (max-width: 390px) {
  .header-container {
    position: relative;
    width: 390px;
    height: 844px;
    top: 0%;
    bottom: 0%;

    overflow: hidden; /* Ensure no overflow issues */
    /* background: linear-gradient(to right, #ddd5d5, #e0d2b2, #e0b2dc, #c59fe9); */
  }
  .contextAndHeaderImage_div {
    /* flex-direction: row;  */
    /* Default: stack items vertically */
  }
  .context-container {
    /* margin: 60px 16px 0px 16px; */
    width: auto;
    z-index: 1;
  }
  .checkboxBtn-div {
    margin-right: 0px;
    position: relative;
    /* margin-right: 23px; */
    flex-direction: column;
    bottom: 23%;
    width: 354px;
  }
  .headerImg-div {
  }
  .radioBtn {
    padding: 14px 0px;
    font-size: 17px;
  }
  .header-image {
    /* position: relative; */
    position: absolute;
    /* z-index: -1; */
    width: 570px;
    height: 365px;
    /* transition: transform 0.3s ease-in-out; */
    /* right: 14%; */
    top: 31%;
    bottom: 0%;
    left: 6%;
    margin-bottom: 6%;
  }
  .responsive-heading {
    /* Adjust to control character wrapping */
    line-height: 1.1; /* Tighter line spacing */
    width: 358px;
    text-align: start;
    font-size: 40px;
    font-weight: 500;
    /* height: 192px; */
  }
  .header-text {
    margin-top: 24px;
    margin-bottom: 177px;
    font-size: 22px;
    line-height: 2.1rem;
  }
  .logos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 16px; /* Add left and right spacing */
    gap: 0rem; /* Add spacing between logos */
    position: absolute;
    bottom: 1%;
    left: 0;
    right: 0;
    width: 358px;
  }

  .logo-item {
    height: 27px;
  }
  #WHLogo {
    width: 97px;
    height: 20px;
  }
  #Forbes {
    width: 73px;
    height: 18px;
  }
  #MAYCLINIC {
    width: 36px;
    height: 40px;
  }
  #WallStreatJ {
    width: 176px;
    height: 15px;
  }

  #Vogue {
    width: 55px;
    height: 14px;
  }
}
