.header-container {
  /* max-width: 100%;
  height: 100%;
  top: 0%;
  bottom: 0%; */
  box-sizing: border-box;
}
.context-container {
  /* top: 40px;
  left: 50px; */
  /* padding-left: 90px;
  padding-top: 65px; */
}
.header-image {
  position: relative;
  width: auto;
  height: 650px;
  /* font-size: 50%; */
  /* left: -161px; */
  /* object-fit: none; */
  transition: transform 0.3s ease-in-out;
}

.cta-button {
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}
.responsive-heading {
  /* Adjust to control character wrapping */
  line-height: 1.3; /* Tighter line spacing */

  width: 500px;
  text-align: start;
}

@media (max-width: 768px) {
  .responsive-heading {
    max-width: 30ch; /* Narrower for smaller screens */
    font-size: 1.875rem; /* Tailwind's `text-3xl` equivalent */
  }
}
.cta-button:hover {
  background-color: #f1f1f1;
}
.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space evenly */
  padding: 0 15rem; /* Add left and right spacing */
  gap: 1rem; /* Add spacing between logos */
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
}

.logo-item {
  max-width: 194;
  height: 40;
  transition: transform 0.3s ease-in-out;
}

.logo-item:hover {
  transform: scale(1.1); /* Slight zoom on hover */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .logos-container {
    justify-content: center; /* Center logos on smaller screens */
    gap: 0.5rem; /* Reduce gap for smaller screens */
  }
  /* .header-image {
    transition: transform 0.3s ease-in-out;
    position: relative;
    width: 90rem;
    height: 50rem;
    left: -161px;
  } */
}
