* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  max-width: 1920px;
  height: 100%;
  /* box-sizing: border-box; */
  font-family: "Jost" !important;
  background-image: url("./pages/images/Rectangle.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1680px) {
  .App {
    max-width: 1680px;
    /* height: 1080px; */
    height: 100%;

    /* box-sizing: border-box; */
    font-family: "Jost" !important;
    background-image: url("./pages/images/Rectangle.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
  }
}
@media only screen and (max-width: 1440px) {
  .App {
    max-width: 1440px;
    /* height: 900px; */
    height: 100%;

    /* box-sizing: border-box; */
    /* font-family: "Jost" !important;
    background-image: url("./pages/images/Rectangle.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; */
  }
}
@media only screen and (max-width: 1280px) {
  .App {
    max-width: 1280px;
    /* height: 900px; */
    height: 100%;
  }
}
@media only screen and (max-width: 960px) {
  .App {
    max-width: 960px;
    /* height: 768px; */
    height: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .App {
    max-width: 768px;
    /* height: 1080px; */
    height: 100%;
  }
}
@media only screen and (max-width: 568px) {
  .App {
    max-width: 568px;
    /* height: 844px; */
    height: 100%;
  }
}
@media only screen and (max-width: 425px) {
  .App {
    max-width: 425px;
    /* height: 844px; */
    height: 100%;
  }
}
@media only screen and (max-width: 390px) {
  .App {
    max-width: 390px;
    /* height: 844px; */
    height: 100%;
  }
}
